html,
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr minmax(0, 80%) 1fr;
}

footer {
    grid-column: 2;
}

.reasons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.reasons .reason-text {
    font-size: 90px;
}

.reasons p {
    font-size: 90px;
}

.reason {
    width: calc(50% - 2rem);
    margin: 1rem;
    padding: 1rem;
    border: 2px solid transparent;
    box-sizing: border-box;
}

.reason.active {
    border-color: black;
}

.reason img {
    width: 100%;
    height: auto;
}


/* Add any other custom styles you want here */


/* Responsive styles for mobile devices */

@media (max-width: 768px) {
    body {
        grid-template-columns: 1fr minmax(0, 90%) 1fr;
    }
    .reason {
        width: calc(100% - 2rem);
    }
}